/* fonts Start */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

/* font-family: 'Roboto', sans-serif;  */
/* fonts END */

/* Common Styles Start */

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
hr {
  border: 1px solid #d1d1d1;
}

/* Common Styles END */

/* Top Player Styles Start*/
.top-section {
  background-color: white;
  width: 870px;
  border-radius: 5px;
  padding: 30px;
  margin-bottom: 20px;
}
.top-players {
  margin-bottom: 21px;
}
.section-title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #562eff;
  margin-top: 0;
}
.players-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
}

/* Top Players Styles END */

/* Top Blogs Styles Start */
.top-blogs {
  margin-top: 22px;
}
.blogs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
}
.blog {
  display: flex;
  align-items: center;
}
.thumbnail img {
  width: 177px;
  height: 117px;
  margin-right: 16px;
}
.blog-title {
  font-size: 20px;
}
.blog-author {
  font-size: 16px;
  color: #9f9f9f;
}
.blog-author a {
  text-decoration: none;
  color: #562eff;
}

/* Top Blogs Styles END */

/* Course Styles Start */
.latest-courses {
  width: 870px;
  border-radius: 5px;
  background-color: white;
  padding: 30px;
  margin-bottom: 30px;
}
.latest-courses > h2 {
  margin-bottom: 12px;
}
.courses-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}
.course {
  width: 255px;
  box-shadow: 5px 5px 40px lightgray;
  border-radius: 10px;
  padding: 10px;
}
.course h3 {
  margin: 0;
}
.course-thumbnail {
  width: 100%;
}
.course-author-name {
  color: #ed6b4f;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  margin-top: 7px;
  margin-bottom: 0px;
}
.course-info {
  display: flex;
  align-items: center;
}
.rating {
  margin-right: 10px;
}
.rating .fas {
  color: #ffc014;
}
.rating .far {
  color: #aeaeae;
}
.fa-star {
  font-size: 12px;
}
.rating-text {
  margin-right: 30px;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  color: #a2a2a2;
}
.duration-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.duration {
  justify-content: center;
  width: 95px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: #ffe4e8;
  border-radius: 15px;
}
.duration p {
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  color: #ff4a60;
}
/* Course Styles END */

/* Media Query Start */

/* Mobile Device Start */
@media only screen and (max-width: 688px) {
  .top-section,
  .latest-courses {
    width: 100%;
  }
  .player {
    display: flex;
    flex-direction: column;
  }
  .players-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .blogs-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .blog {
    flex-direction: column;
  }
  .courses-container {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 24px;
  }
  .course {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
  }
}
/* Mobile Device END */

/* Tablet Device Start */
@media only screen and (min-width: 689px) and (max-width: 991px) {
  .top-section,
  .latest-courses {
    width: 100%;
  }
  .players-container,
  .courses-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .courses-container {
    grid-row-gap: 24px;
    grid-column-gap: 0px;
  }
}

/* Mobile Device END */

/* Media Query END */
